        <ul class="navbar-nav navbar-right">
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
            <div class="d-sm-none d-lg-inline-block">{{ __('Hi,') }} {{ authn.u_name | default (__('friend')) }}</div></a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-title">{{ authn.u_name }}</div>
              <a href="" class="dropdown-item has-icon">
                <i class="far fa-user"></i> {{ __('Profile') }}
              </a>
              <a href="" class="dropdown-item has-icon">
                <i class="fas fa-cog"></i> {{ __('Settings') }}
              </a>
              <div class="dropdown-divider"></div>
              <a href="{{ url_for('app.core.auth.signout') }}" class="dropdown-item has-icon text-danger" id="initiateLogout">
                <i class="fas fa-sign-out-alt"></i> {{ __('Sign out') }}
              </a>
            </div>
          </li>
        </ul>