{% extends '/Core/Views/templates/default.twig' %}

{% macro list(items = "", class = "") %}
<ul class="list-group list-group-flush {{class}}">
   {% if items is iterable %}{% for k,v in items %}
    <li class="list-group-item list-group-item-action py-1">
        {% if v is iterable %}
            <b style="padding-right: 1em;">{{ k | humanize | capitalize }}:</b> {{ _self.list(v) }}
        {% else %}
            <b style="padding-right: 1em;">{{ k | humanize | capitalize }}:</b> {{ v }}
        {% endif %}
   </li>
    {% endfor %}{% else %}
        {{ items }}
    {% endif %}
</ul>
{% endmacro %}

{% block content %}
          <div class="section-header">
            <h1>42</h1>
          
          </div>

          <div class="section-body">


    <h1>Puff</h1>
    core-users {{ core_users }}<br><br>
    jwtclaims <pre>{{ jwt_claims | json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_SLASHES'))  | urls_to_html }}</pre>
    jwtheader <pre>{{ jwt_header | json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_SLASHES'))  | urls_to_html }}</pre>
    {# jwtheader {{ _self.list(jwt_header)  | urls_to_html }} #}




            {{ __('The meaning of life the universe and everything.') }} 
            <div id="rjsf"></div>
            
          </div>
{% endblock %}



{% block additionaljs %}
    <script type="text/javascript" nonce="{{ csp_nonce.script_src }}">
    </script>
{% endblock %}
