{% extends '/Core/Views/templates/default.twig' %}

{################################################################}

{% block content %}
<div class="section-header">
    <h1>Users</h1>
</div>

<div class="section-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-hover" id="core_auth_adm_users_table">
                            <thead>
                                <tr>
                                    <th class="">{{ __('Email and UUID') }}</th>
                                    <th class="">{{ __('Signed up') }}</th>
                                    <th class="">{{ __('Nickname') }}</th>
                                    <th class="">{{ __('Status') }}</th>
                                    <th class="">{{ __('Name') }}</th>
                                </tr>
                            </thead>
                            <tbody id="core_auth_adm_users_target">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/twig" id="core_auth_adm_users_template" nonce="{{ csp_nonce.script_src }}">
    {% verbatim %}
    {% for v in data %}
    <tr id="core_auth_adm_users_{{ v.id }}" style="transform: rotate(0);">
        <td scope="row"><a href="./users/{{ v.id }}" class="stretched-link"><b>{{ v.email }}</b><br><small>{{ v.id }}</small></a></td>
        <td>{{ (v.createdTimestamp//1000) | date('Y/m/d') }}</td>
        <td>{{ v.username }}</td>
        <td>{% if v.enabled %}<i class="fas fa-play text-success" title="Enabled"></i> {% endif %}{% if v.totp %}<i class="fas fa-user-clock" title="TOTP"></i> {% endif %}{% if v.emailVerified %}<i class="fas fa-user-check" title="Email verified"></i>{% endif %}</td>
        <td>{{ v.firstName }} {{ v.lastName }}</td>
    </tr>
    {% endfor %}
    {% endverbatim %}
    </script>
</div>
{% endblock %}

{################################################################}

{% block additionaljs %}
<script type="text/javascript" nonce="{{ csp_nonce.script_src }}">
$( document ).ready( function() {
    authenticator.authenticatedFetch( "{{ url_for('api.core.auth.adm.users.v1') }}", { headers: { "Accept": "application/json" }} )
    .then( response => response.json() )
    .then( (data) => {
        $("#core_auth_adm_users_target").append(Twig.twig({ ref: "core_auth_adm_users_template" }).render({ data: data }))
    }).catch(err => {
        // Error handling
    })
});
</script>
{% endblock %}
